<!doctype html>
<html>
<head>
  {% block title %}{% endblock %}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <link rel="stylesheet" href="/static/css/goal-tracker.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Varela+Round" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle collapsed" 
              data-toggle="collapse" 
              data-target="#navbar" 
              aria-controls="navbar" 
              aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h1 class="navbar-brand">Goal.spirE</h1>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
    <div class="collapse navbar-collapse" id="navbar">
      {% if 'user_id' in session %}
        <ul class="nav navbar-nav navbar-right">
          <li>
            <!-- <a type="submit" href="/logout">Log Out</a></li> -->
            <form class ="form-inline" action="/logout" method="POST">
              <input type="submit" id="logout" value="Log Out">
            </form>
          </li>
        </ul>
      {% else %}
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/login">Log In</a></li>
          <li><a href="/join">Join</a></li>
      {% endif %} 
    </div>
    </div>
  </div>
  </nav>

    {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul style="list-style-type: none; color: red;">
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
    {% endwith %}
  {% block content %} put your content here {% endblock %}


</body>
</html>