{% extends 'base.html' %}

{% block title %}
  <title>{{ user.username }}/Goal Share - {{ friend.username }}</title>
{% endblock %}

{% block content %}

<!-- Current User Goal Tracks -->
    <div id="user-current-goals">
    {% if current_tracks %}
        <h2>Your Current Goals: </h2>
        <!-- Create button for user's current goal tracks by goal name -->
        <ul style="list-style: none">
          <div id="user-current-tracks">
          {% for track in current_tracks %}

             <li>
              <button id="{{ track.track_id }}" name="{{ track.goal.name }}" 
              class="btn btn-info active goal-btn" data-duration="{{ track.duration}}" data-num-times="{{ track.num_times }}" data-goal-type="{{ track.goal.type_id }}" data-t-id="{{ track.track_id }}" data-length="{{ track.length }}">
              {{ track.goal.name }} {{ track.num_times }}
                time(s) this {{ track.length }}
              {% if track.goal.type_id == 'L' %}
                <a data-toggle="tooltip" title="Limit: a goal for limiting or decreasing an activity by setting how many times (max) in the chosen duration that you are striving for." data-placement="right">(Limit)</a> 
              {% else %}
                <a data-toggle="tooltip" title="Push: a goal for increasing an activity by setting how many times you are striving for in the chosen duration." data-placement="right">(Push)</a> 
              {% endif %}
              </button>
              <span id="comp-{{track.track_id}}">
                <!-- {{ "%0.0f" | format(track.percent_comp|float) }}%</span> -->
                <canvas id="user-completion-chart"></canvas>
                <span id="user-comp-legend" class="chart-legend"></span>
              </span>
              <script>
                var options = {
                  responsive: true
                };

                var ctx_donut = $("#user-completion-chart").get(0).getContext("2d");

                var track = {
                    "track_id": {{ track.track_id }}
                };

                $.get("/completion-chart.json", track, function (data) {
                  let compChart = new Chart(ctx_donut, {
                                                          type: 'doughnut',
                                                          data: data,
                                                          options: options
                                                        });
                  $('#user-comp-legend').html(compChart.generateLegend());
                });
             </script>
             </li>
           <br>  
          {% endfor %}
        </div>
    {% else %}
        <h2>You do not have any current goals.</h2>
    {% endif %}
    </div>
    <div id="friend-current-goals">
    {% if friend_tracks %}
        <h2>{{ friend.username }}'s Current Goals: </h2>
        <!-- Create button for user's current goal tracks by goal name -->
        <ul style="list-style: none">
          <div id="friend-current-tracks">
          {% for track in friend_tracks %}

             <li><button id="{{ track.track_id }}" name="{{ track.goal.name }}" 
              class="btn btn-info active goal-btn" data-duration="{{ track.duration}}" data-num-times="{{ track.num_times }}" data-goal-type="{{ track.goal.type_id }}" data-t-id="{{ track.track_id }}" data-length="{{ track.length }}">
              {{ track.goal.name }} {{ track.num_times }}
                time(s) this {{ track.length }}
              {% if track.goal.type_id == 'L' %}
                <a data-toggle="tooltip" title="Limit: a goal for limiting or decreasing an activity by setting how many times (max) in the chosen duration that you are striving for." data-placement="right">(Limit)</a> 
              {% else %}
                <a data-toggle="tooltip" title="Push: a goal for increasing an activity by setting how many times you are striving for in the chosen duration." data-placement="right">(Push)</a> 
              {% endif %}
              </button>
              <span id="comp-{{track.track_id}}">
                <!-- {{ "%0.0f" | format(track.percent_comp|float) }}% -->
                <canvas id="friend-completion-chart"></canvas>
                <span id="friend-comp-legend" class="chart-legend"></span>
              </span>
              <script>
                var options = {
                  responsive: true
                };

                var ctx_donut = $("#friend-completion-chart").get(0).getContext("2d");

                var track = {
                    "track_id": {{track.track_id}}
                };

                $.get("/completion-chart.json", track, function (data) {
                  let compChart = new Chart(ctx_donut, {
                                                          type: 'doughnut',
                                                          data: data,
                                                          options: options
                                                        });
                  $('#friend-comp-legend').html(compChart.generateLegend());
                });
             </script>
             </li>
           <br>  
          {% endfor %}
        </div>
    {% else %}
        <h2>{{ friend.username }} does not have any current goals.</h2>
    {% endif %}
    </div>


<script src="/static/js/goal-tracker.js"></script>

{% endblock %}