{% extends 'base.html' %}

<head>
  <title>{{ user.username }}/Dashboard</title>
</head>



<!-- jQuery & js scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="//goal-tracker.js"></script>
<!-- Script & Stylesheet for editable select element -->
<script src="//rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.js"></script>
<link href="//rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.css" rel="stylesheet">

{% block content %}

    {% if tracks %}
        <h2>Your Current Goals: </h2>
        <!-- Show user's current goal tracks by goal name -->
        <ul style="list-style: none">
        {% for track in tracks %}
           <li><button id="track.track_id" >{{ track.goal.name }}</button></li>
        {% endfor %}
    {% else %}
        <h2>You do not have any current goals.</h2>
    {% endif %}

    <!-- Add a Goal Form -->
    <h3 id="add_goal">Add a new goal</h3>


        <form action="/add-goal" method="POST">
            <select id="new_goal">
                {% for goal in user.goals %}
                <option value="goal.goal_id">{{ goal.name }}</option>
                {% endfor %}
            </select>
            <script type="text/javascript">
            $('#new_goal').editableSelect();
            </script>
            <input type="submit" value="Add">
        </form>
{% endblock %}