{% extends 'base.html' %}

{% block title %}
  <title>{{ user.username }}/Dashboard</title>
{% endblock %}

{% block content %}
  <div clss="main-container" class="container-fluid">
    <div class="row">
    <div class="col-xs-12 col-md-8 col-lg-8 goal-column">
    <!-- Current User Goal Tracks -->
    <div id="current-goals">
    {% if current_tracks %}
        <h2>Your Current Goals: </h2>
        <!-- Create button for user's current goal tracks by goal name -->
        <ul style="list-style: none">
          <div class="current-tracks" id="current-tracks">
          {% for track in current_tracks %}

             <li><button id="{{ track.track_id }}" name="{{ track.goal.name }}" 
              class="btn btn-info active goal-btn" data-duration="{{ track.duration}}" data-num-times="{{ track.num_times }}" data-goal-type="{{ track.goal.type_id }}" data-t-id="{{ track.track_id }}" data-length="{{ track.length }}" data-target="#goalModal">
              {{ track.goal.name }} {{ track.num_times }}
                time(s) this {{ track.length }}
              {% if track.goal.type_id == 'L' %}
                <a class="type-tip" data-toggle="tooltip" title="Limit: a goal for limiting or decreasing an activity by setting how many times (max) in the chosen duration that you are striving for." data-placement="right">(Limit)</a> 
              {% else %}
                <a class="type-tip" data-toggle="tooltip" title="Push: a goal for increasing an activity by setting how many times you are striving for in the chosen duration." data-placement="right">(Push)</a> 
              {% endif %}
              </button>
              <span class="comp-p" id="comp-{{track.track_id}}">{{ "%0.0f" | format(track.percent_comp|float) }}% complete</span>
             </li>
           <br>  
          {% endfor %}
        </div>
    {% else %}
        <h2>You do not have any current goals.</h2>
    {% endif %}
    </div>

    <!-- Modal Window For Goal-->
    <div id="goalModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" 
            data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><span id="goal-name"></span></h4>
          </div>
          <div class="modal-body">
            <p>Current Completion Count: <span id="curr-completions"></span></p>
            <form id="add-completion-form">
              <h3>Enter new completion info:</h3>
              <input id="track-id" type="hidden">
              <div class="form-group">
                <label for="comp-date">Date</label>
                <input id="comp-date" type="text" name="comp-date" required> *
              </div>
                <!-- How many times? <input id="comp-times" type="number" name="comp-times" required> -->
              <!-- <br> -->
              <div class="form-group">
                <label for="comp-loc">Location</label>
                <input id="comp-loc" type="text" name="comp-loc">
              </div>
              <div class="form-group">
                <label for="comp-time">Time</label>
                <input id="comp-time" type ="time" name="comp-time">
              </div>
              <!-- <br> -->
              <span>Notes</span>
              <div class="form-group">
                <label class="sr-only" for="comp-notes">Notes</label>
                <textarea id="comp-notes" type="textarea" name="comp-notes"></textarea>
              </div>
              <div>* Required Field</div>
            </form>
          </div>
          <div id="comp-added" hidden>Completion added to Goal.spirE</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" 
            data-dismiss="modal">Close</button>
            <button id="new-comp-submit" class="btn btn-primary">Save</button>
          </div>
        </div>

      </div>
    </div>

    <!-- Add a Goal Form -->
    <div>
    <h3 id="add-goal">Add a new goal</h3>

        <form id="add-goal-form">
          <div class="form-group">
            <label for="new-goal-name">Goal Name: </label>
            <input type="text" id="new-goal-name" name="new-goal-name">
          </div>
          <div class="form-group">
            <label for="goal-type">Goal Type: </label>
            <input type="radio" id="type-P" name="goal-type" value="P"> Push
            <input type="radio" id="type-L" name="goal-type" value="L"> Limit
          </div>
          <div class="form-group">
            <label for="num-times">Amount to push for -or- limit to: </label>
            <input type="number" id="num-times" name="num-times">
          </div>
          <div class="form-group">
            <label for="duration">Duration: </label>
            <input type="radio" id="dur-week" name="duration" value='1'> 1 Week 
            <input type="radio" id="dur-month" name="duration" value='4'> 1 Month (4 weeks)
          </div>
          <div class="form-group">
            <label for="start-date">Start Date: </label>
            <input type="text" id="start-date" name="start-date">
          </div>
            <!-- Check to Repeat:
            <input type="checkbox" id="repeat" name="repeat" value=True> -->
            <input type="submit" id="add-goal-submit" value="Add Goal to Spire">
        </form>
    </div>
    </div>

    <!-- User Friends -->
    <div class="col-xs-12 col-md-4 col-lg-4">
    <div>
      <h2>Your Goal.spirE Friends:</h2>
      <div id="user-friends">
      {% if user_friends %}
        <!-- Create button for user's current goal tracks by goal name -->
        <ul style="list-style: none">
          <div class="friends" id="current-user-friends">
          {% for friend in user_friends %}
             <!-- <form action="/user/<username>/GoalShare-<friend_name>" method="GET"> -->
             <li><button id="{{ friend.user_id }}" name="{{ friend.username }}"
              class="btn btn-info active friend-btn" 
              onclick="FriendShareInfo(this)">{{ friend.username }}
              </button>
             </li>
           <!-- </form> -->
           <br>  
          {% endfor %}
        </div>
    {% else %}
        <h2>You have not added any friends.</h2>
    {% endif %}
    </div>
        <!-- Add a Friend Form -->
    <div >
    <h3 id="add-friend">Add a new friend</h3>

        <form id="add-friend-form">
          <div class="form-group">
            <label class="control-label" for="new-friend-name">Enter your friend's Username:</label>
            <input class="form-control input-md" type="text" id="new-friend-name" name="new-friend-name">
            <br>
            <input type="submit" id="add-friend-submit" value="Add Friend">
          </div>
        </form>
    </div>
    </div>
  </div>
  </div>

<script src="/static/js/goal-tracker.js"></script>

{% endblock %}