{% extends 'base.html' %}

{% block title %}
  <title>{{ user.username }}/Dashboard</title>
{% endblock %}

{% block content %}

    {% if tracks %}
        <h2>Your Current Goals: </h2>
        <!-- Show user's current goal tracks by goal name -->
        <ul style="list-style: none">
        {% for track in tracks %}
           <li><button id="track.track_id" >{{ track.goal.name }}</button></li>
        {% endfor %}
    {% else %}
        <h2>You do not have any current goals.</h2>
    {% endif %}

    <!-- Add a Goal Form -->
    <h3 id="add_goal">Add a new goal</h3>

        <form id="add_goal_form" action="/add-goal.json" method="POST">
            Goal Name:
            <input type="text" id="new_goal_name" name="new_goal_name">
            <br>
            Goal Type:
            <input type="radio" id="goal_type" name="goal_type" value='P'>Push
            <input type="radio" id="goal_type" name="goal_type" value='L'>Limit
            <br>
            Start Date:
            <input type="text" id="start_date" name="start_date">
            <br>
            Duration:
            <input type="radio" id="duration" name="duration" value='1'>1 Week
            <input type="radio" id="duration" name="duration" value='4'>1 Month (4 weeks)
            <br>
            Check to Repeat:
            <input type="checkbox" id="repeat" name="repeat" value=True>
            <br>
            <input type="submit" value="Add Goal to Spire">
        </form>

<script src="/static/js/goal-tracker.js"></script>

{% endblock %}